PORT=5000
CLIENT_URL=http://localhost:5173
JWT_SECRET=supersecretvalue
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=lightvision_db

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=no-reply@lightvision.co.za
CONTACT_RECIPIENT=no-reply@lightvision.co.za
